#deco{
    /* border: 2px solid black; */
    width: 400px;
    padding: 50px;
    /* background-image: url(http://www.pptback.com/uploads/colors-brown-shadow-backgrounds-powerpoint.jpg); */
    background-color: wheat;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0 auto;
    
    
}
#button{
    padding: 8px 15px;
    background-color: #9A4A1F;
    color: wheat;
    
}
#height{
    background-color: #9A4A1F;
    color: wheat;
    padding: 5px;
}
#weight{
    background-color: #9A4A1F;
    color: wheat;
    padding: 5px;
}
#check{
    color: #9A4A1F;
}
#rating{
    color: #9A4A1F;
}
